.background-video {
    position: relative;
    height : 100vh;
    max-height: 700px;
    width: 100%;
    overflow: hidden;
    video {
        position: absolute;
        top : 0;
        object-fit: fill;
        min-width: 1000px;
        min-height: 600px;
    }
    .bg-vid-overlay {
        padding-top: 100px;
        height: 100%;
        position: absolute;
        top : 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.77);
    }
}
.home-landing {
    .button-no-border {
        border : 0;
        &:hover,
        &:visited,
        &:active,
        &:focus {
            outline: none;
        }
    }
}