.background-video {
  position: relative;
  height: 100vh;
  max-height: 600px;
  width: 100%;
  overflow: hidden; }
  .background-video video {
    position: absolute;
    top: 0;
    object-fit: fill;
    min-width: 1000px;
    min-height: 600px; }
  .background-video .bg-vid-overlay {
    padding-top: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.77); }

.home-landing {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column; }
  @media screen and (min-height: 1350px) {
    .home-landing {
      min-height: 100vh; } }
  .home-landing #user-form {
    flex-grow: 1;
    background-image: url("./assets/landing.jpg");
    position: relative;
    display: flex; }
    .home-landing #user-form > .landing-bg-overlay {
      background: rgba(0, 0, 0, 0.77);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.71); }
    .home-landing #user-form > .container {
      background-color: #fff;
      flex: 1;
      z-index: 1; }
  .home-landing .button-no-border {
    border: 0; }
    .home-landing .button-no-border:hover, .home-landing .button-no-border:visited, .home-landing .button-no-border:active, .home-landing .button-no-border:focus {
      outline: none; }
  .home-landing .landing-main {
    color: #f9f9f9;
    font-size: 9rem; }
    @media screen and (max-width: 350px) {
      .home-landing .landing-main {
        font-size: 4rem; } }
  .home-landing button {
    font-size: 15px; }
  .home-landing .list-cont {
    color: #f9f9f9;
    line-height: 1.6;
    font-size: 19px;
    margin-top: 30px;
    word-spacing: 2px;
    font-weight: 300; }
    @media screen and (max-width: 992px) {
      .home-landing .list-cont {
        line-height: 1.2;
        word-spacing: 1px;
        font-size: 16px; } }
    .home-landing .list-cont li {
      margin-bottom: 20px; }
  .home-landing .external-list {
    color: #494949; }
    @media screen and (max-width: 992px) and (min-width: 768px) {
      .home-landing .external-list {
        display: none; } }
    .home-landing .external-list > div {
      display: flex;
      align-items: center;
      justify-content: center; }

.footer-cont {
  background-color: rgba(0, 0, 0, 0.61);
  position: relative;
  width: 100%; }
  .footer-cont footer {
    height: 100px; }
