.background-video {
  position: relative;
  height: 100vh;
  max-height: 700px;
  width: 100%;
  overflow: hidden; }
  .background-video video {
    position: absolute;
    top: 0;
    object-fit: fill;
    min-width: 1000px;
    min-height: 600px; }
  .background-video .bg-vid-overlay {
    padding-top: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.55); }

.home-landing .button-no-border {
  border: 0; }
  .home-landing .button-no-border:hover, .home-landing .button-no-border:visited, .home-landing .button-no-border:active, .home-landing .button-no-border:focus {
    outline: none; }
