.background-video {
    position: relative;
    height : 100vh;
    max-height: 600px;
    width: 100%;
    overflow: hidden;
    video {
        position: absolute;
        top : 0;
        object-fit: fill;
        min-width: 1000px;
        min-height: 600px;
    }
    .bg-vid-overlay {
        padding-top: 100px;
        height: 100%;
        position: absolute;
        top : 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.77);
    }
}
.home-landing {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    @media screen and (min-height : 1350px) {
        min-height: 100vh;
    }
    #user-form {
        flex-grow: 1;
    }
    .button-no-border {
        border : 0;
        &:hover,
        &:visited,
        &:active,
        &:focus {
            outline: none;
        }
    }
    .landing-main {
        color : #f9f9f9;
        font-size: 9rem;
        @media screen and (max-width : 350px) {
            font-size: 4rem;
        }
    }
    button {
        font-size: 15px;
    }
    .list-cont {
        color: #f9f9f9;
        line-height: 1.6;
        font-size: 19px;
        margin-top: 30px;
        word-spacing: 2px;
        font-weight: 300;
        @media screen and (max-width : 992px){
            line-height: 1.2;
            word-spacing: 1px;
            font-size: 16px;

        }
        li {
            margin-bottom: 20px;
        }
    }
    .external-list {
        @media screen and (max-width : 992px) and (min-width : 768px) {
            display: none;
        }
        color : #494949;
        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.footer-cont {
    background-color: rgba(0, 0, 0, 0.61);
    position: relative;
        width: 100%;
    footer {
        height: 100px;
    }
}