.dashboard-cont {
    padding-right : 180px;
    .sidebar {
        width : 180px;
        height : 100vh;
        position: fixed;
        right : 0;
        background: #4a4a4a;
        z-index: 1;
        top: 0;
        padding-top: 100px;
    }
    .sidebar-item {
        color : #f9f9f9;
        text-align: right;
        padding : 15px 15px 15px 0;
        font-size: 12px;
        &:hover {
            background: #3a3a3a;
        }
    }
}
.modal-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top : 0;
    right : 0;
    left : 0;
    bottom : 0;
    z-index: 1500;
    background: rgba(0, 0, 0, 0.7);
    overflow: auto;
    .modal-child {
        padding: 0 0 30px 30px;
        position: relative;
        top: 152px;
        width: 1000px;
        max-width: 100%;
        margin: auto;
        background: #fff;
        .close-cont {
            position: relative;
            height : 30px;
        }
        .modal-close {
            position: absolute;
            right : 10px;
            top : 10px;
        }
    }
}
.modal-user-info {
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}
.user-page-link {
    z-index: 1;
    position: relative;
    top: 0px;
    padding: 10px 0;
    width: 100%;
    left: -15px;
    text-align: center;
    font-size: 15px;
    color: #f9f9f9;
    background: rgba(0, 0, 0, 0.5);
    a {
        color: #f9f9f9;
        margin-left : 5px;
    }
}
.picture-upload {
    margin: 30px;
    margin-bottom: 0;
}
.theme-preview-cont {
    margin-top: 30px;
    .theme-item {
        height : 280px;
        width:  200px;
        cursor: pointer;
        margin : 0 15px;
        overflow: hidden;
        img {
            transition-duration: 400ms;
            height: 100%;
            width: 100%;
        }
        &:hover {
            img {
                transform: scale(1.2)
            }
        }
    }
}