.resume-default-cont {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96; }
  @media (min-width: 992px) {
    .resume-default-cont {
      padding-top: 0;
      padding-left: 17rem; } }
  .resume-default-cont h1,
  .resume-default-cont h2,
  .resume-default-cont h3,
  .resume-default-cont h4,
  .resume-default-cont h5,
  .resume-default-cont h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40; }
  .resume-default-cont h1 {
    font-size: 6rem;
    line-height: 5.5rem; }
  .resume-default-cont h2 {
    font-size: 3.5rem; }
  .resume-default-cont .subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem; }
  .resume-default-cont .list-social-icons a {
    color: #495057; }
  .resume-default-cont .list-social-icons a:hover {
    color: #BD5D38; }
  .resume-default-cont .list-social-icons a .fa-lg {
    font-size: 1.75rem; }
  .resume-default-cont .list-icons {
    font-size: 3rem; }
  .resume-default-cont .list-icons .list-inline-item i:hover {
    color: #BD5D38; }
  .resume-default-cont #sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase; }
  @media (min-width: 992px) {
    .resume-default-cont #sideNav {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh; }
    .resume-default-cont #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem; }
    .resume-default-cont #sideNav .navbar-brand .img-profile {
      max-width: 10rem;
      max-height: 10rem;
      border: 0.5rem solid rgba(255, 255, 255, 0.2); }
    .resume-default-cont #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto; }
    .resume-default-cont #sideNav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%; }
    .resume-default-cont #sideNav .navbar-collapse .navbar-nav .nav-item {
      display: block; }
    .resume-default-cont #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
      display: block; } }
  .resume-default-cont section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important; }
  .resume-default-cont section.resume-section .resume-item .resume-date {
    min-width: none; }
  @media (min-width: 768px) {
    .resume-default-cont section.resume-section {
      min-height: 100vh; }
    .resume-default-cont section.resume-section .resume-item .resume-date {
      min-width: 18rem; } }
  @media (min-width: 992px) {
    .resume-default-cont section.resume-section {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important; } }
  .resume-default-cont .bg-primary {
    background-color: #BD5D38 !important; }
  .resume-default-cont .text-primary {
    color: #BD5D38 !important; }
  .resume-default-cont a {
    color: #BD5D38; }
  .resume-default-cont a:hover, .resume-default-cont a:focus, .resume-default-cont a:active {
    color: #824027; }
